<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<h5 *ngIf="deviveInfo.deviceType == 'mobile' && deviveInfo.orientation == 'portrait'">Rotate your mobile to view the page!</h5>

<div *ngIf="(deviveInfo.deviceType == 'mobile' 
    && deviveInfo.orientation == 'landscape') || deviveInfo.deviceType != 'mobile'" class="row shadow">
    
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.image1" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.amazonaws.com/properties2023/{{property.image1}}">
        <img *ngIf="!property.image1" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/default_house.png">
      </div>
      <div class="card-body">
        
        <div>
          <h2>{{property.name}}</h2>
        </div>
        <div>
            <h5 *ngIf="property.sellRent == 1">
              {{property.bhk}} bedroom {{property.propertyType}} @  AED{{property.price}}
            </h5>
            <h6 *ngIf="property.sellRent == 1" style="padding-left: 50px; color: red;">
              3-6 year Plans Available
            </h6>
            <h5 *ngIf="property.sellRent == 2">
              {{property.bhk}} bedroom {{property.propertyType}} @  AED{{property.price}}
            </h5>
            <h6 *ngIf="property.sellRent == 2" style="padding-left: 50px; color: red;">
              4 cheques payments
            </h6>
        </div>
        <div>
           <strong *ngIf="property.building_flat">{{property.address}}, Near {{property.address2}} <br> 
            {{property.city}}, {{property.country}}</strong>
           <strong *ngIf="!property.building_flat">{{property.address}}, Near {{property.address2}} <br> 
            {{property.city}}, {{property.country}}</strong>
        </div> 
        <hr>
        <div>
            <strong>Build Area: </strong> 
            {{property.builtArea}} Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>
            {{property.carpetArea}} Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{property.furnishingType}}
        </div>
        <div>
          <strong>Available For: </strong>
          <span *ngIf="property.sellRent == 1" style="color: red;">Purchase</span>
          <span *ngIf="property.sellRent == 2" style="color: red;">Rent</span>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary" (click)="addLike($event.target)">{{likes}} Likes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <mat-tab-group #tabGroup [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.projectName}}</p>
                  </div>

                  <div *ngIf="property.propertyType != 'Villa'" class="heading">
                      <strong>Floor Number</strong>
                      <p>Floor number: {{property.floorNo}}</p>
                  </div>

                  <div *ngIf="property.propertyType != 'Villa'" class="heading">
                    <strong>Total Number of Floors</strong>
                    <p>{{property.totalFloors}} floors</p>
                  </div>

                  <div *ngIf="property.propertyType != 'Villa'" class="heading">
                    <strong>Flat Number</strong>
                    <p>{{property.flatNumber}}</p>
                  </div>

                  <div *ngIf="property.propertyType == 'Villa'" class="heading">
                    <strong>Villa Number</strong>
                    <p>{{property.villaNumber}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p *ngIf="property.age == 'Less than a year'">{{property.age}}</p>
                      <p *ngIf="property.age > 0">{{property.age}} yaers</p>
                      <p *ngIf="property.age == 'property is not available yet'" style="color: red;">Available on {{property.estPossessionOn | date: 'mediumDate' }}</p>

                  </div>

                  <div class="heading">
                      <strong>Available moving date</strong>
                      <p style="color: red;  font-size: 1.5rem">{{property.estPossessionOn | date: 'mediumDate' }}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.mainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p *ngIf="property.gated">Yes</p>
                      <p *ngIf="!property.gated">No</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.security}}AED/Once</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.maintenance}}AED/Yearly</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">

                      <strong>Building amenities include:</strong><br><br>
                        
                        <i class="fas fa-chart-area"aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i>
                        &nbsp; &nbsp;
                        <strong>{{property.builtArea}} Sqft</strong>&nbsp; &nbsp;

                        <i class="fas fa-bed" aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp;  
                        <strong>{{property.bhk}} Bedrooms</strong>&nbsp; &nbsp; 
                        
                        <i class="fa fa-bath" aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i>
                        &nbsp; &nbsp;  
                        <strong>{{property.bathroom}} Bathrooms</strong><br> 
                        
                        <!-- <i class="fa-solid fa-square-parking" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp; 
                        <strong>{{property.bhk}} Parking</strong>&nbsp; &nbsp; 
                        
                        <i class="fas fa-swimming-pool" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp; 
                        <strong>{{property.swimmingPool}} Swimming Pool</strong>
                        &nbsp; &nbsp; -->
                        
                        <br>
                        <strong>Places to visit around:</strong><br>

                        <!--  <i class="fa-solid fa-store" aria-hidden="true" 
                                style="font-size: 30px; padding-top: 15px;">
                              </i>
                        
                        <strong>Shopping Mall</strong>  
                        &nbsp;&nbsp; &nbsp;
                        <strong *ngIf="property.mall"> 5 minutes walk</strong> 
                        <strong *ngIf="!property.mall" style="color: red;"> Not Available </strong> 
                        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                        <i class="fa-solid fa-hippo" aria-hidden="true" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                        &nbsp;
                        <strong>Zoo</strong> 
                        &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.zoo"> 25 minutes drive</strong> 
                        <strong *ngIf="!property.zoo" style="color: red;"> Not Available </strong> <br>
                        
                        <i class="fas fa-hotdog" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i> 
                        &nbsp; &nbsp;
                        <strong>Fast Food</strong>
                        &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.fastFood"> 5-15 minutes walk</strong> 
                        <strong *ngIf="!property.fastFood" style="color: red;"> Not Available </strong> 

                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp; &nbsp; 
                      

                        <i  class="fa-solid fa-umbrella-beach" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                        
                        &nbsp; &nbsp;&nbsp; 
                        <strong>Beach</strong>
                        &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.beach"> 10 minutes drive</strong> 
                        <strong *ngIf="!property.beach" style="color: red;"> Not Available </strong> 

                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                        <br>
                        <i  class="fa-solid fa-solid fa-school" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                       
                        &nbsp; &nbsp;&nbsp; 
                        <strong>Schools</strong>
                        &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.school"> 5 minutes walk</strong> 
                        <strong *ngIf="!property.school" style="color: red;"> Not Available </strong> 

                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 

                        <i  class="fa-solid fa-mosque" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                        
                        &nbsp; &nbsp;&nbsp; 
                        <strong>Mosque</strong>
                        &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.mosque"> 10 minutes walk</strong> 
                        <strong *ngIf="!property.mosque" style="color: red;"> Not Available </strong>  -->
                        <br>
                        <strong>Description</strong><br>
                      <div [innerHTML]="property.description"></div>
                        
                  </div>
              </div>
            </div>
        </mat-tab>

        <mat-tab label="Address">

          <h5 *ngIf="property.theaddress !== null">
                    For directions, click on <strong 
                    style="color: red;">Directions.</strong><br>
                    For contact details, click on <strong 
                    style="color: red;">View large map.</strong>
          </h5><br>
         
          <div>
            <iframe *ngIf="deviveInfo.deviceType !== 'mobile'"
              [src]= urlPath
              width="800" height="450" style="border:0;" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>

          <div>
            <iframe *ngIf="deviveInfo.deviceType=== 'mobile' && deviveInfo.orientation=== 'landscape'"
              [src]= urlPath
              width="300" height="450" style="border:0;" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
          
        </mat-tab>

        <mat-tab  id="photosTab" label="Photos"> 

          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

          
        </mat-tab>

        <mat-tab label="Contact">

          <div *ngIf="loggedinUser" class="card text-center" style="max-width: 100vw; min-height: 10vw;">
            <div class="card-header">
              <strong> Commission: {{property.contactCommission}} AED </strong>
            </div>
            <!-- <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.companyImage}}" class="card-img-top" style= "max-height: 20%;"> -->
            <div class="card-body">
                <p> Seller Name: {{property.contactCompany}}</p>
                <p> Seller Name: {{property.contactName}}</p>
                <p> Seller Contact: {{property.contactNumber}}</p>
                <p> Seller WhatsApp: {{property.contactNumber2}}</p>
                <p> Seller Contact: {{property.contactEmail}}</p>
            </div>
          </div>

          <br>
          <strong>You can fill out the form otherwise<br><br></strong>
          <div>
            <form *ngIf="deviveInfo.deviceType !== 'mobile'" [formGroup]="form" class="form" action="javascript:void(0)" (submit)="send()" method="POST">
              <input formControlName="from_name" name="from_name" type="text"  placeholder="Full Name"/>
              <input formControlName="from_email" name="from_email" type="text"  placeholder="Email Address"/>
              <input formControlName="subject" name="subject" type="text" placeholder="{{property.projectName}} - {{this.property.name}}, {{this.property.city}}"/>
              <textarea formControlName="message" name="message" type="text" placeholder="Enter your message"></textarea>
              <button id="clickit" class="button1" type="submit">Submit</button>
            </form>
          </div>

          <div>
            <form *ngIf="deviveInfo.deviceType=== 'mobile' && deviveInfo.orientation=== 'landscape'" class="form1" [formGroup]="form1" action="javascript:void(0)" (submit)="send()" method="POST">
              <input style="size: 1px;" formControlName="from_name1" name="from_name" type="text"  placeholder="Full Name"/>
              <input formControlName="from_email" name="from_email1" type="text"  placeholder="Email Address"/>
              <input formControlName="subject1" name="subject" type="text" placeholder="{{property.ProjectName}} - {{this.property.Name}}"/>
              <textarea formControlName="message1" name="message" type="text" placeholder="Enter your message"></textarea>
              <button id="clickit2" class="button2" type="submit">Submit</button>
            </form>
          </div>
          
        </mat-tab>

      </mat-tab-group>

        <section *ngIf="visable1 === true" class="slider_container">
          <section class="slider">
              <div class="slide one">
                  <img (click)="hideImage()" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image1}}" alt="">
                 
              </div>
              <div (click)="hideImage()" class="slide two">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image2}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide three">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image3}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide four">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image4}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide five">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image5}}" alt="">
                  
              </div>
          </section>
      </section>

    </div>
  </div>
</div>