.card {
    min-height: 600px;
  }
  
  .card img {
    padding: 10px;
    height: 250px;
  }
  
  .card-img-wrapper {
    height: 250px;
  }
  
  .ngx-gallery
  {
    display: inline-block;
    min-width: 800px;
    min-height: 500px;
    margin-bottom: 20px;
  }
  