<!-- eslint-disable @angular-eslint/template/alt-text -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- (mousemove) = "onUserAction()"-->
<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<app-nav-bar></app-nav-bar>


<div class="container" style="margin-top: 70px;"

    (click) = "onUserAction()"
    (keypress) = "onUserAction()">

    <br>
    <h3 id="timer" *ngIf="token != null" style="color: blue;">Session timeout after (approximately):
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    </h3>

    <router-outlet></router-outlet>
    
</div>

    <!-- <img class="pos" src="https://res.cloudinary.com/hspa2024/image/upload/v1712683558/newsletter.png"/> -->