<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<br>

<h4 *ngIf="loggedinUser !== 'rwahdan'">Only Admin can add new property</h4>

<h4 *ngIf="loggedinUser == 'rwahdan' && deviveInfo.deviceType == 'mobile'">
  Admin, you can add new property on a larger device, desktop or laptop.
</h4>

<div *ngIf="loggedinUser == 'rwahdan' && deviveInfo.deviceType !== 'mobile'" class="row mb-5">
  <div class="col-7 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm" enctype="multipart/form-data">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo" >
                
                <div class="form-group col-12">
                  <label>Project Name</label>
                  <input type="text" class="form-control"
                  #projectname
                  formControlName="ProjectName" 
                  (keyup)="propertyView.projectName=projectname.value">
                  <div class="error-block"
                  *ngIf="ProjectName.invalid && (nextClicked || ProjectName.touched)">
                    <strong> select project name </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                <p>I want to</p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="SellRent">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="1" role="button" name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    <strong> select Sell or Rent </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="BHK">
                    <label
                      *ngFor="let bhk of [1,2,3,4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bhk" tabindex="0" role="button"
                      (click)="propertyView.bhk=bhk"
                      name="BHK">
                      {{bhk}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    <strong> select BHK </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName='PType'>
                    <label
                    *ngFor="let ptype of propertyTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ptype.id" tabindex="0" role="button"
                    (click)="propertyView.propertyType=ptype.name"
                    name="PropType">{{ptype.name}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    <strong> select property type </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="FType">
                  <label
                    *ngFor="let ftype of furnishTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ftype.id" tabindex="0" role="button"
                    (click)="propertyView.furnishingType=ftype.name"
                    name="FurnishType">
                    {{ftype.name}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    <strong> select furnishing type </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Property Name</label>
                  <input type="text"
                  #propertyName
                  class="form-control"
                  (keyup)="propertyView.name=propertyName.value"
                  formControlName="Name"><br>
                  <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || Name.touched)">
                    <strong> select state/country </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <select #City1
                  (change)="propertyView.city = City1.options[City1.options.selectedIndex].text"
                  class="form-control"
                    formControlName="City">
                    <option value="">--Select a City--</option>
                    <option *ngFor="let city of cityList" 
                    value={{city.id}}>
                    {{city.name}}
                    </option>
                  </select>

                  <div class="error-block"
                  *ngIf="Name.invalid && (nextClicked || City.touched)">
                    <strong> select city name </strong>
                  </div>

                </div>
                <br>
                <div class="form-group col-12">
                    <button type="button"
                    class="btn btn-primary col-12"
                    (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in AED)</label>
                  <label *ngIf="SellRent.value==2">Rent (in AED)</label>
                  <input type="text" class="form-control"
                  formControlName="Price" #price
                  (keyup)="propertyView.price=+price.value">

                  <div class="error-block"
                  *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please select
                    <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div *ngIf="SellRent.value==2">
                  <div class="form-group col-12">
                    <label>Security (in AED)</label>
                    <input type="text"
                    formControlName="Security"
                    class="form-control">
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in AED)</label>
                    <input type="text"
                    formControlName="Maintenance"
                    class="form-control">
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text"
                  class="form-control" #builtArea
                  (keyup)="propertyView.builtArea=+builtArea.value"
                  formControlName="BuiltArea">
                  <div class="error-block"
                  *ngIf="BuiltArea.invalid && nextClicked">
                    Please select built up area
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area (in Sqr Feet)</label>
                  <input type="text"
                  formControlName="CarpetArea"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(2, PriceInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>

            </tab>

              <tab heading="Address" formGroupName="AddressInfo">

                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text"
                  formControlName="FloorNo"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text"
                  formControlName="TotalFloor"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <!-- Address1 -->
                  <input type="text"      
                  class="form-control"
                  formControlName="Address">
                  <div class="error-block"
                  *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    <strong> select address </strong>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <!-- Address2 -->
                  <input type="text"      
                  formControlName="LandMark"
                  class="form-control">
                </div><br>

                <!-- <div class="row">
                  <div class="form-group col-6">
                    <label>Building/Flat</label>
                    
                    <input type="text"      
                    formControlName="building_flat"
                    class="form-control">
                  </div><br>

                  <div class="form-group col-6">
                    <label>Villa#</label>
                    
                    <input type="text"      
                    formControlName="villa"
                    class="form-control">
                  </div>
                </div><br> -->

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(3, AddressInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(1, AddressInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">

                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                      btnRadio=true tabindex="0" role="button"
                      (click)="propertyView.readyToMove=true"
                      name="RTM">Yes
                    </label>

                    <label class="btn btn-outline-primary"
                      btnRadio=false tabindex="0" role="button"
                      (click)="propertyView.readyToMove=false"
                      name="RTM">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>


                <div class="form-group col-6">
                  <label *ngIf="propertyView.readyToMove">Establishment Date</label>
                  <label *ngIf="!propertyView.readyToMove">Possession Date</label>
                  <input type="text"
                  class="form-control"
                  formControlName="PossessionOn"
                  #possessionOn
                  (ngModelChange)="propertyView.estPossessionOn=possessionOn.value"
                  bsDatepicker
                  [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'MMM DD, YYYY'}">
                  <div class="error-block" *ngIf="PossessionOn.invalid 
                  && (nextClicked || PossessionOn.touched)">
                    Please select Establishment/Possession Date
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=true tabindex="0" role="button" name="Gated">Yes</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=false  tabindex="0" role="button" name="Gated">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=East tabindex="0" role="button" name="Entrance">East</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=West  tabindex="0" role="button" name="Entrance">West</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=South  tabindex="0" role="button" name="Entrance">South</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=North  tabindex="0" role="button" name="Entrance">North</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text"
                  class="form-control"
                  formControlName="Description"
                  rows="6"></textarea>
                </div>
                
                <br>
                <!-- add fileds for Places to visit around (part of address) checkboxes-->
                <div class="form-group col-12">
                  <div formControlName="Interests">
                    <!-- <label>Places of Interest</label><br>
                    <mat-checkbox (change)="checkCheckBoxvalue1($event)"> <i class="fa-solid fa-store" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Shopping Mall
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp; 
                    <mat-checkbox (change)="checkCheckBoxvalue2($event)"> <i class="fa-solid fa-hippo" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Zoo
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp; 
                    <mat-checkbox (change)="checkCheckBoxvalue3($event)"> <i class="fas fa-hotdog" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Fast Food
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp; <br>
                    <mat-checkbox (change)="checkCheckBoxvalue4($event)"> <i class="fa-solid fa-umbrella-beach" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Beach
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp; 
                    <mat-checkbox (change)="checkCheckBoxvalue5($event)"> <i class="fa-solid fa-school" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Schools
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp; 
                    <mat-checkbox (change)="checkCheckBoxvalue6($event)"> <i class="fa-solid fa-mosque" aria-hidden="true" 
                                    style="font-size: 30px; padding-top: 15px;"></i>Mosque
                    </mat-checkbox> &nbsp;  &nbsp;  &nbsp;  -->
                  </div>
                </div><br>

                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary col-12"
                    (click)="selectTab(4, OtherInfo.valid)">Next</button>

                    <button type="button" class="btn btn-primary col-12"
                    (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="sellerInfo" formGroupName="sellerInfo">
                
                <div class="form-group col-12">
                  <label>Contact Company</label>
                  <input type="text" class="form-control"
                  formControlName="ContactCompany">
                </div>

                <div class="form-group col-12">
                  <label>Contact Name</label>
                  <input type="text" class="form-control"
                  formControlName="ContactName">
                </div>

                <div class="form-group col-12">
                  <label>Contact Number</label>
                  <input type="text" class="form-control"
                  formControlName="ContactNumber">
                </div>

                <div class="form-group col-12">
                  <label>Contact WhatsApp Number</label>
                  <input type="text" class="form-control"
                  formControlName="ContactNumber2">
                </div>

                <div class="form-group col-12">
                  <label>Contact Email</label>
                  <input type="text" class="form-control"
                  formControlName="ContactEmail">
                </div>

                <div class="form-group col-12">
                  <label>Commission</label>
                  <input type="text" class="form-control"
                  formControlName="ContactCommission">
                </div>
                
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(5, sellerInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary col-12"
                  (click)="selectTab(3, sellerInfo.valid)">Back</button>
                </div>

           </tab>

           <tab heading="Photos">
            <div class="form-group col-12">
              <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br>
                  This is under construction
              </div>
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary col-12"
              (click)="selectTab(4, true)">Back</button>
              <button id="saveIT" type="submit" class="btn btn-primary col-12">Save</button>
              <button type="reset" class="btn btn-danger col-12">Cancel</button>
            </div>
          </tab>
        </tabset>
          </div> 
        </form>
      </div>
  </div>
  </div>
  <div class="col-5">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>

            <!-- <tab heading="Photos" formGroupName="PhotoInfo"> -->

                   <!-- <app-upload></app-upload>
                   <br/><br/> -->

            <!-- </tab> -->