<!-- eslint-disable @angular-eslint/template/alt-text -->
        <div class="card">
            <div class="card-img-wrapper">
                <img *ngIf="property.image" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.image}}" />
                <img *ngIf="!property.image" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/default_house.png" />
                <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
                    <li class="list-inline-item">
                        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="far fa-edit" title="View Property"></i></button>
                    </li>
                   
                </ul>

            </div>

            <div class="card-body p-1">

                <h5 class="mb-0" *ngIf="property.sellRent === 1" style="color: red;"> For Sale in {{property.name}} | 
                    {{property.bhk}} BHK {{property.propertyType}} 
                    </h5>
                <h5 class="mb-0" *ngIf="property.sellRent === 2" style="color: red;"> For Rent in {{property.name}} |
                    {{property.bhk}} BHK {{property.propertyType}} 
                    </h5>
                <br>
                <h6 class="mb-0" style="color: blue;" *ngIf="deviveInfo.deviceType !== 'mobile'"> 
                    Project Name: {{property.projectName}} |
                    Propert Name: {{property.name}}
                </h6>
                <h6 class="mb-0" style="color: blue;" 
                    *ngIf="deviveInfo.deviceType=== 'mobile' && deviveInfo.orientation=== 'landscape'"> 
                    Project Name: <br>{{property.projectName}} |
                    Propert Name: {{property.name}}
                </h6>
            
                <h6  class="mt-2">{{property.furnishingType}}
                    <span *ngIf="property.furnishingType === 'Fully'"> Furnished</span>
                    <span *ngIf="property.furnishingType === 'Semi'"> Furnished</span>
                    <span *ngIf="property.furnishingType === 'Unfurnished'"></span>
                    <span *ngIf="property.readyToMove" style="color: green;"> | Ready to Move</span>
                    <span *ngIf="!property.readyToMove" style="color: red;"> | Available after {{property.estPossessionOn | date}}</span>
                </h6>
            
                <hr class="mt-0 mb-2">
            
                <h6 *ngIf="deviveInfo.deviceType !== 'mobile'" class="mb-0">Price:<span class="font-highlight">{{property.price}} AED</span> |
                    Area:<span class="font-highlight">{{property.builtArea}} sq/m </span> 
                </h6>

                <h6 *ngIf="deviveInfo.deviceType=== 'mobile' && deviveInfo.orientation=== 'landscape'" 
                    class="mb-0">Price:<span class="font-highlight">{{property.price}} AED</span> <br>
                    Area:<span class="font-highlight">{{property.builtArea}} sq/m </span> 
                </h6>

            </div>

        </div>
