@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import 'assets/forms.css';
@import 'assets/tabs.css';
@import 'assets/bootstrap.min.css';
@import 'assets/carouselstyle.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
