@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: orange;}
    100% {color: green;}
  }

.anim {
    padding-left: 250px;
    width: 100px;
    height: 100px;
    color: blue;
    animation-name: example;
    animation-duration: 5s;
}

